
    a:hover   { text-decoration:none; }    
    a:link,
    a:visited { color:#333;
                text-decoration:underline; }


           a:link#nav,
    a:visited#nav,
    a:hover#nav { color:#333;
                text-decoration:none; }
                
    a:link.homelink,
    a:hover.homelink,
    a:visited.homelink { color:#000; text-decoration:none; }
                
    body      { background-color:#fff;
                color:#333;
                font-family:"Roboto", serif;
                font-size:13px;
                margin:30px auto 80px;
                padding:0;
                width:900px; }
    div#head  { margin:0 auto;
                border-bottom:1px solid;
                position:relative; }
    div#body  {	margin:0 0 80px;
                padding:0 12px 0 0;
                width:800px; }              
    div#nav   { bottom:5px;
                font-size:14px;
                position:absolute;
                right:0; }
    h1        { color:#000;
                padding-left:30px;
                padding-bottom:0px;
                margin-bottom:0px;
                font-size:40px;
                font-weight:bold;
                display:inline; }
    h2        { color:#000;
                font-size:17px;
                font-weight:bold;
                max-width:500px;
                padding:0 0 0; }
    h3        { color:#000;
                font-size:14px;
                font-weight:bold;
                padding:0 0 0; }
    img       { border:0;
                display:inline;
                margin:0;
                padding:0 0 0 0; }
    p         { color:#333;
                line-height:1.5;
                max-width:500px;
                padding:0 0 0; }
                    div#l     {	float:left;
                margin:0 0 80px;
                padding:10px 12px 0 0;
                width:500px; }
    div#r     { float:right;
                margin:0 0 80px;
                padding:10px 0 12px 0;   
                width:340px;  }
                
                    li        { 
                line-height:1.7;
                margin:0px;
                padding:0 0px; }
img.right {float:right; }

    ul        { margin-top:0px;
                padding-top:0px;
                padding-bottom:9px; }
                
                
 span { color:#ccc; }
